USE [master]
GO
/****** Object:  Database [PetCare]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE DATABASE [PetCare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetCare', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQL2025\MSSQL\DATA\PetCare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetCare_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQL2025\MSSQL\DATA\PetCare_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetCare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetCare]
GO
/****** Object:  User [PetCareAdmin]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE USER [PetCareAdmin] FOR LOGIN [PetCareAdmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [PetCareAdmin]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
	[CompanyName] [nvarchar](100) NULL,
	[LogoUrl] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[IsMultiStore] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[TaxId] [nvarchar](8) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BrandsSubscriptions]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrandsSubscriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrandId] [int] NOT NULL,
	[PlanId] [int] NOT NULL,
	[OrderId] [int] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AutoRenew] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsTrial] [bit] NOT NULL,
	[TrialUsed] [bit] NULL,
	[TrialCreater] [nvarchar](500) NULL,
	[Delete] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[NextBillingDate] [datetime] NULL,
	[GraceEndDate] [datetime] NULL,
	[LastBillingDate] [datetime] NULL,
	[LastRenewOrderId] [int] NULL,
	[BillingRetryCount] [int] NOT NULL,
	[CancelRenewDate] [datetime] NULL,
 CONSTRAINT [PK_BrandSubscriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCodes]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[PlanId] [int] NULL,
	[SalesUserId] [int] NOT NULL,
	[TargetUserId] [int] NULL,
	[UsedByUserId] [int] NULL,
	[UsedOrderId] [int] NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[DiscountValue] [decimal](5, 0) NOT NULL,
	[GiftItems] [nvarchar](max) NULL,
	[IsUsed] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[UsedAt] [datetime2](7) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[ExpireDate] [datetime2](7) NULL,
 CONSTRAINT [PK__Discount__3214EC072B12B1CF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Discount__A25C5AA736BBB305] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drugs]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drugs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LicenseNo] [nvarchar](50) NOT NULL,
	[NameZh] [nvarchar](200) NOT NULL,
	[NameEn] [nvarchar](200) NULL,
	[NameSearch]  AS (lower((isnull([NameZh],'')+' ')+isnull([NameEn],''))) PERSISTED,
	[Manufacturer] [nvarchar](200) NULL,
	[ManufacturerAddress] [nvarchar](300) NULL,
	[DosageForm] [nvarchar](100) NULL,
	[Package] [nvarchar](200) NULL,
	[Indication] [nvarchar](max) NULL,
	[Ingredient] [nvarchar](max) NULL,
	[ValidUntil] [datetime] NULL,
	[IsExportOnly] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[PlanId] [int] NOT NULL,
	[PlanName] [nvarchar](200) NOT NULL,
	[Period] [nvarchar](50) NOT NULL,
	[SubscriptionMonth] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[DiscountCodeId] [int] NULL,
	[MerchantTradeNo] [varchar](100) NOT NULL,
	[TradeNo] [varchar](100) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[PaymentType] [nvarchar](20) NULL,
	[PaymentName] [nvarchar](50) NULL,
	[PayTime] [datetime] NULL,
	[ExpireDate] [datetime] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[Delete] [bit] NOT NULL,
	[IsRecurring] [bit] NOT NULL,
	[RecurringParentOrderId] [int] NULL,
	[RecurringTradeNo] [varchar](100) NULL,
	[GatewayAuthCode] [varchar](100) NULL,
	[PeriodType] [varchar](20) NULL,
	[Frequency] [int] NULL,
	[ExecTimes] [int] NULL,
	[ExecTimesCompleted] [int] NOT NULL,
	[RawResponse] [nvarchar](max) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plans]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanCode] [nvarchar](50) NOT NULL,
	[PlanName] [nvarchar](100) NOT NULL,
	[Tagline] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[OriginalPrice] [int] NOT NULL,
	[Period] [nvarchar](50) NOT NULL,
	[Features] [nvarchar](max) NULL,
	[SuitableTags] [nvarchar](max) NULL,
	[IsFeatured] [bit] NOT NULL,
	[Badge] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[SubscriptionMonth] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlansFeatures]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlansFeatures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[Dashboard] [bit] NOT NULL,
	[BrandManagement] [bit] NOT NULL,
	[StoreManagement] [bit] NOT NULL,
	[CustomerManagement] [bit] NOT NULL,
	[PetManagement] [bit] NOT NULL,
	[AppointmentManagement] [bit] NOT NULL,
	[VisitManagement] [bit] NOT NULL,
	[MedicalRecordManagement] [bit] NOT NULL,
	[BillingManagement] [bit] NOT NULL,
	[StaffManagement] [bit] NOT NULL,
	[RolePermissionManagement] [bit] NOT NULL,
	[ShiftManagement] [bit] NOT NULL,
	[HospitalizationManagement] [bit] NOT NULL,
	[InpatientCareManagement] [bit] NOT NULL,
	[PurchaseManagement] [bit] NOT NULL,
	[GeneralInventoryManagement] [bit] NOT NULL,
	[DrugInventoryManagement] [bit] NOT NULL,
	[PharmacyManagement] [bit] NOT NULL,
	[BatchExpireManagement] [bit] NOT NULL,
	[MultiStoreManagement] [bit] NOT NULL,
	[CrossStoreInventory] [bit] NOT NULL,
	[BasicReport] [bit] NOT NULL,
	[AdvancedReport] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecurringBillingLogs]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecurringBillingLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrandSubscriptionId] [int] NOT NULL,
	[OrderId] [int] NULL,
	[BrandId] [int] NOT NULL,
	[PlanId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[BillingDate] [datetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[TradeNo] [varchar](100) NULL,
	[RecurringTradeNo] [varchar](100) NULL,
	[PaymentType] [varchar](20) NULL,
	[Message] [nvarchar](500) NULL,
	[RawResponse] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RecurringBillingLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[JobTitle] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffsStores]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffsStores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[StoreId] [int] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_StaffStores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrandId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](50) NULL,
	[TaxId] [nvarchar](8) NULL,
	[IsActive] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsEmailConfirmed] [bit] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[LastLoginDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersLog]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Email] [nvarchar](255) NOT NULL,
	[LoginTime] [datetime] NOT NULL,
	[IP] [nvarchar](45) NOT NULL,
	[DeviceId] [nvarchar](255) NULL,
	[BrowserInfo] [nvarchar](500) NULL,
	[OSInfo] [nvarchar](255) NULL,
	[ScreenResolution] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ErrorMessage] [nvarchar](1000) NULL,
	[SecurityLevel] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__UsersLog__3214EC07DD7B121C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTokens]    Script Date: 2026/5/14 上午 01:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[TokenType] [nvarchar](50) NOT NULL,
	[ExpireTime] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[UsedTime] [datetime] NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Brand_Name]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Brand_Name] ON [dbo].[Brands]
(
	[BrandName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_BrandSubscriptions_ActiveBrand]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_BrandSubscriptions_ActiveBrand] ON [dbo].[BrandsSubscriptions]
(
	[BrandId] ASC
)
WHERE ([IsActive]=(1) AND [Delete]=(0) AND [Status]=N'使用中')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Drugs_NameEn]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE NONCLUSTERED INDEX [IX_Drugs_NameEn] ON [dbo].[Drugs]
(
	[NameEn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_Drugs_NameSearch]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE NONCLUSTERED INDEX [IX_Drugs_NameSearch] ON [dbo].[Drugs]
(
	[NameSearch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Drugs_NameZh]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE NONCLUSTERED INDEX [IX_Drugs_NameZh] ON [dbo].[Drugs]
(
	[NameZh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Orders_MerchantTradeNo]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Orders_MerchantTradeNo] ON [dbo].[Orders]
(
	[MerchantTradeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Plans_PlanCode]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Plans_PlanCode] ON [dbo].[Plans]
(
	[PlanCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecurringBillingLogs_BillingDate]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE NONCLUSTERED INDEX [IX_RecurringBillingLogs_BillingDate] ON [dbo].[RecurringBillingLogs]
(
	[BillingDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecurringBillingLogs_BrandId]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE NONCLUSTERED INDEX [IX_RecurringBillingLogs_BrandId] ON [dbo].[RecurringBillingLogs]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecurringBillingLogs_BrandSubscriptionId]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE NONCLUSTERED INDEX [IX_RecurringBillingLogs_BrandSubscriptionId] ON [dbo].[RecurringBillingLogs]
(
	[BrandSubscriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Staff_Email]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Staff_Email] ON [dbo].[Staffs]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StaffStores_StaffId]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE NONCLUSTERED INDEX [IX_StaffStores_StaffId] ON [dbo].[StaffsStores]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StaffStores_StoreId]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE NONCLUSTERED INDEX [IX_StaffStores_StoreId] ON [dbo].[StaffsStores]
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_StaffsStores_StaffId_StoreId]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_StaffsStores_StaffId_StoreId] ON [dbo].[StaffsStores]
(
	[StaffId] ASC,
	[StoreId] ASC
)
WHERE ([Delete]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Store_BrandId]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE NONCLUSTERED INDEX [IX_Store_BrandId] ON [dbo].[Stores]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Store_City]    Script Date: 2026/5/14 上午 01:52:21 ******/
CREATE NONCLUSTERED INDEX [IX_Store_City] ON [dbo].[Stores]
(
	[City] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Brands] ADD  CONSTRAINT [DF_Brand_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Brands] ADD  CONSTRAINT [DF_Brands_IsMultiStore]  DEFAULT ((0)) FOR [IsMultiStore]
GO
ALTER TABLE [dbo].[Brands] ADD  CONSTRAINT [DF_Brand_Delete]  DEFAULT ((0)) FOR [Delete]
GO
ALTER TABLE [dbo].[Brands] ADD  CONSTRAINT [DF_Brand_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Brands] ADD  CONSTRAINT [DF_Brand_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[BrandsSubscriptions] ADD  CONSTRAINT [DF__BrandSubs__AutoR__5BAD9CC8]  DEFAULT ((0)) FOR [AutoRenew]
GO
ALTER TABLE [dbo].[BrandsSubscriptions] ADD  CONSTRAINT [DF__BrandSubs__IsAct__5CA1C101]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BrandsSubscriptions] ADD  CONSTRAINT [DF_BrandsSubscriptions_IsTrial]  DEFAULT ((0)) FOR [IsTrial]
GO
ALTER TABLE [dbo].[BrandsSubscriptions] ADD  CONSTRAINT [DF_BrandsSubscriptions_TrialUsed]  DEFAULT ((0)) FOR [TrialUsed]
GO
ALTER TABLE [dbo].[BrandsSubscriptions] ADD  CONSTRAINT [DF__BrandSubs__Delet__5D95E53A]  DEFAULT ((0)) FOR [Delete]
GO
ALTER TABLE [dbo].[BrandsSubscriptions] ADD  CONSTRAINT [DF__BrandSubs__Creat__5E8A0973]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[BrandsSubscriptions] ADD  CONSTRAINT [DF_BrandsSubscriptions_BillingRetryCount]  DEFAULT ((0)) FOR [BillingRetryCount]
GO
ALTER TABLE [dbo].[DiscountCodes] ADD  CONSTRAINT [DF__DiscountC__IsUse__019E3B86]  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[DiscountCodes] ADD  CONSTRAINT [DF__DiscountC__IsAct__02925FBF]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DiscountCodes] ADD  CONSTRAINT [DF_DiscountCodes_Delete]  DEFAULT ((0)) FOR [Delete]
GO
ALTER TABLE [dbo].[DiscountCodes] ADD  CONSTRAINT [DF__DiscountC__Creat__038683F8]  DEFAULT (sysutcdatetime()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Drugs] ADD  DEFAULT ((0)) FOR [IsExportOnly]
GO
ALTER TABLE [dbo].[Drugs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__CreateDa__55009F39]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__Delete__55F4C372]  DEFAULT ((0)) FOR [Delete]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_IsRecurring]  DEFAULT ((0)) FOR [IsRecurring]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_ExecTimesCompleted]  DEFAULT ((0)) FOR [ExecTimesCompleted]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((0)) FOR [Delete]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((1)) FOR [Dashboard]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((1)) FOR [BrandManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((1)) FOR [StoreManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((1)) FOR [CustomerManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((1)) FOR [PetManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((1)) FOR [AppointmentManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((1)) FOR [VisitManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((1)) FOR [MedicalRecordManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [BillingManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [StaffManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [RolePermissionManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [ShiftManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [HospitalizationManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [InpatientCareManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [PurchaseManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [GeneralInventoryManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [DrugInventoryManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [PharmacyManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [BatchExpireManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [MultiStoreManagement]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [CrossStoreInventory]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((1)) FOR [BasicReport]
GO
ALTER TABLE [dbo].[PlansFeatures] ADD  DEFAULT ((0)) FOR [AdvancedReport]
GO
ALTER TABLE [dbo].[RecurringBillingLogs] ADD  CONSTRAINT [DF_RecurringBillingLogs_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [DF_Staff_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [DF_Staff_Delete]  DEFAULT ((0)) FOR [Delete]
GO
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [DF_Staff_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [DF_Staff_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[StaffsStores] ADD  CONSTRAINT [DF_StaffStores_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[StaffsStores] ADD  CONSTRAINT [DF_StaffStores_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StaffsStores] ADD  CONSTRAINT [DF_StaffStores_Delete]  DEFAULT ((0)) FOR [Delete]
GO
ALTER TABLE [dbo].[StaffsStores] ADD  CONSTRAINT [DF_StaffStores_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[StaffsStores] ADD  CONSTRAINT [DF_StaffStores_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Stores] ADD  CONSTRAINT [DF_Store_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Stores] ADD  CONSTRAINT [DF_Store_Delete]  DEFAULT ((0)) FOR [Delete]
GO
ALTER TABLE [dbo].[Stores] ADD  CONSTRAINT [DF_Store_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Stores] ADD  CONSTRAINT [DF_Store_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Role]  DEFAULT (N'會員') FOR [Role]
GO
ALTER TABLE [dbo].[UsersLog] ADD  CONSTRAINT [DF__UsersLog__LoginT__5CD6CB2B]  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[Brands]  WITH CHECK ADD  CONSTRAINT [FK_Brands_Users] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Brands] CHECK CONSTRAINT [FK_Brands_Users]
GO
ALTER TABLE [dbo].[BrandsSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_BrandsSubscriptions_LastRenewOrder] FOREIGN KEY([LastRenewOrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[BrandsSubscriptions] CHECK CONSTRAINT [FK_BrandsSubscriptions_LastRenewOrder]
GO
ALTER TABLE [dbo].[BrandsSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_BrandSubscriptions_Brands] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[BrandsSubscriptions] CHECK CONSTRAINT [FK_BrandSubscriptions_Brands]
GO
ALTER TABLE [dbo].[BrandsSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_BrandSubscriptions_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[BrandsSubscriptions] CHECK CONSTRAINT [FK_BrandSubscriptions_Orders]
GO
ALTER TABLE [dbo].[BrandsSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_BrandSubscriptions_Plans] FOREIGN KEY([PlanId])
REFERENCES [dbo].[Plans] ([Id])
GO
ALTER TABLE [dbo].[BrandsSubscriptions] CHECK CONSTRAINT [FK_BrandSubscriptions_Plans]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Brand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Brand]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Plan] FOREIGN KEY([PlanId])
REFERENCES [dbo].[Plans] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Plan]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_RecurringParentOrder] FOREIGN KEY([RecurringParentOrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_RecurringParentOrder]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[PlansFeatures]  WITH CHECK ADD  CONSTRAINT [FK_PlansFeatures_Plans] FOREIGN KEY([PlanId])
REFERENCES [dbo].[Plans] ([Id])
GO
ALTER TABLE [dbo].[PlansFeatures] CHECK CONSTRAINT [FK_PlansFeatures_Plans]
GO
ALTER TABLE [dbo].[RecurringBillingLogs]  WITH CHECK ADD  CONSTRAINT [FK_RecurringBillingLogs_Brands] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[RecurringBillingLogs] CHECK CONSTRAINT [FK_RecurringBillingLogs_Brands]
GO
ALTER TABLE [dbo].[RecurringBillingLogs]  WITH CHECK ADD  CONSTRAINT [FK_RecurringBillingLogs_BrandSubscriptions] FOREIGN KEY([BrandSubscriptionId])
REFERENCES [dbo].[BrandsSubscriptions] ([Id])
GO
ALTER TABLE [dbo].[RecurringBillingLogs] CHECK CONSTRAINT [FK_RecurringBillingLogs_BrandSubscriptions]
GO
ALTER TABLE [dbo].[RecurringBillingLogs]  WITH CHECK ADD  CONSTRAINT [FK_RecurringBillingLogs_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[RecurringBillingLogs] CHECK CONSTRAINT [FK_RecurringBillingLogs_Orders]
GO
ALTER TABLE [dbo].[RecurringBillingLogs]  WITH CHECK ADD  CONSTRAINT [FK_RecurringBillingLogs_Plans] FOREIGN KEY([PlanId])
REFERENCES [dbo].[Plans] ([Id])
GO
ALTER TABLE [dbo].[RecurringBillingLogs] CHECK CONSTRAINT [FK_RecurringBillingLogs_Plans]
GO
ALTER TABLE [dbo].[StaffsStores]  WITH CHECK ADD  CONSTRAINT [FK_StaffsStores_Staffs] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staffs] ([Id])
GO
ALTER TABLE [dbo].[StaffsStores] CHECK CONSTRAINT [FK_StaffsStores_Staffs]
GO
ALTER TABLE [dbo].[StaffsStores]  WITH CHECK ADD  CONSTRAINT [FK_StaffsStores_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[StaffsStores] CHECK CONSTRAINT [FK_StaffsStores_Stores]
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD  CONSTRAINT [FK_Store_Brand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[Stores] CHECK CONSTRAINT [FK_Store_Brand]
GO
ALTER TABLE [dbo].[UsersLog]  WITH CHECK ADD  CONSTRAINT [FK_UsersLog_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[UsersLog] CHECK CONSTRAINT [FK_UsersLog_Users]
GO
ALTER TABLE [dbo].[UsersTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsersTokens] CHECK CONSTRAINT [FK_UserTokens_Users]
GO
ALTER TABLE [dbo].[DiscountCodes]  WITH CHECK ADD  CONSTRAINT [CK_DiscountCodes_DiscountValue_Positive] CHECK  (([DiscountValue]>(0)))
GO
ALTER TABLE [dbo].[DiscountCodes] CHECK CONSTRAINT [CK_DiscountCodes_DiscountValue_Positive]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Brands', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'品牌名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Brands', @level2type=N'COLUMN',@level2name=N'BrandName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'品牌 Logo 圖片網址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Brands', @level2type=N'COLUMN',@level2name=N'LogoUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'品牌聯絡電話' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Brands', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'品牌聯絡信箱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Brands', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'品牌總部地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Brands', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否啟用（1=啟用，0=停用）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Brands', @level2type=N'COLUMN',@level2name=N'IsActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否開啟多店家系統' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Brands', @level2type=N'COLUMN',@level2name=N'IsMultiStore'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'軟刪除旗標（0=正常，1=已刪除）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Brands', @level2type=N'COLUMN',@level2name=N'Delete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Brands', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最後更新時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Brands', @level2type=N'COLUMN',@level2name=N'UpdateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵，自動遞增' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'品牌 ID，對應 Brands.Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'BrandId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'目前訂閱的方案 ID，對應 Plans.Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'PlanId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'來源訂單 ID，對應 Orders.Id，可追蹤此訂閱由哪筆訂單開通' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'OrderId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'訂閱開始時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'StartDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'訂閱結束時間，到期後品牌不可再使用對應方案功能' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'EndDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'訂閱狀態，例如 Active=使用中、Expired=已到期、Cancelled=已取消、Pending=待啟用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否自動續約，0=不自動續約，1=自動續約' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'AutoRenew'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否啟用，1=啟用，0=停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'IsActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'軟刪除旗標，0=正常，1=已刪除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'Delete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最後更新時間，例如續約、到期、取消訂閱時更新' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'UpdateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'下一次預計扣款日期，通常設定為訂閱到期日前 7 到 14 天' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'NextBillingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'扣款失敗後的寬限期結束時間，寬限期內仍可使用系統' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'GraceEndDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上一次成功或嘗試扣款的時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'LastBillingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最近一次續約訂單 ID，對應 Orders.Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'LastRenewOrderId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'定期定額扣款失敗重試次數，用來判斷是否需要進入 PastDue 或 Expired 狀態' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'BillingRetryCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'取消自動續約時間，使用者關閉 AutoRenew 或金流定期定額取消時記錄' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions', @level2type=N'COLUMN',@level2name=N'CancelRenewDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'品牌訂閱資料表，記錄品牌目前使用的方案、訂閱開始日、到期日與訂閱狀態' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BrandsSubscriptions'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折扣碼流水號，系統自動產生' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折扣碼，例如 BIZ20260513001，不可重複' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'指定可使用此折扣碼的方案 Id，NULL 代表不限方案' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'PlanId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立此折扣碼的業務人員 UserId' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'SalesUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'指定可使用此折扣碼的使用者 UserId，NULL 代表不指定' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'TargetUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'實際使用此折扣碼的使用者 UserId' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'UsedByUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'此折扣碼使用在哪一筆訂單 Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'UsedOrderId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折扣類型，Amount 代表固定金額，Percent 代表百分比' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'DiscountType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折扣值，Amount 時代表折抵金額，Percent 時代表折扣百分比' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'DiscountValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'贈品內容，使用 JSON 陣列字串儲存，可為 NULL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'GiftItems'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否已使用，0 未使用，1 已使用，一碼只能使用一次' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'IsUsed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否啟用，0 停用，1 啟用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'IsActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折扣碼實際被使用的時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'UsedAt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折扣碼建立時間，預設為 UTC 時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折扣碼最後更新時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'UpdateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'過期日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes', @level2type=N'COLUMN',@level2name=N'ExpireDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'業務發給用戶的一次性折扣碼資料表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiscountCodes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵，藥品資料 ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'藥品許可證字號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'LicenseNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'藥品中文名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'NameZh'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'藥品英文名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'NameEn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'藥品搜尋欄位，由中文名稱與英文名稱組合轉小寫產生' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'NameSearch'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'藥品製造商名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'Manufacturer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'製造商地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'ManufacturerAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'藥品劑型，例如錠劑、膠囊、注射劑' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'DosageForm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'藥品包裝資訊' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'Package'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'藥品適應症或用途說明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'Indication'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'藥品成分說明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'Ingredient'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'藥品許可證有效期限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'ValidUntil'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否限外銷，1=是，0=否' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'IsExportOnly'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drugs', @level2type=N'COLUMN',@level2name=N'CreatedAt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵，自動遞增' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'下單使用者 ID，對應 Users.Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'UserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'購買方案的品牌 ID，對應 Brands.Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'BrandId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'購買的方案 ID，對應 Plans.Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'PlanId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案名稱快照，避免方案名稱變更影響歷史訂單' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'PlanName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'計費週期快照，例如 /6個月、/6個月起' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'購買月份，例如 6 代表購買 6 個月' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'SubscriptionMonth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'實際付款金額，單位為新台幣整數' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'Amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系統產生的金流訂單編號，例如綠界 MerchantTradeNo，需唯一' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'MerchantTradeNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'金流交易編號，例如綠界付款成功後回傳的 TradeNo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'TradeNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'訂單狀態，例如 Pending=待付款、Paid=已付款、Failed=付款失敗、Cancel=已取消、Expired=已過期、Refunded=已退款' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'付款方式代碼，例如 Credit=信用卡、ATM=ATM轉帳、CVS=超商代碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'PaymentType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'付款方式中文名稱，例如 信用卡、ATM轉帳、超商代碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'PaymentName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'付款完成時間，由金流付款成功後回傳或系統更新' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'PayTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'訂單付款期限，超過此時間未付款可視為過期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'ExpireDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'訂單建立時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'訂單最後更新時間，例如付款成功、取消、退款時更新' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'UpdateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'軟刪除旗標，0=正常，1=已刪除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'Delete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否為定期定額訂單，0=一般一次性訂單，1=定期定額訂單' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'IsRecurring'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'定期定額主訂單 ID，若此訂單為續約扣款訂單，則對應第一筆定期定額主訂單' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'RecurringParentOrderId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'金流定期定額交易識別碼，用於追蹤同一組定期扣款交易' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'RecurringTradeNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'金流授權碼或授權識別資料，依金流平台回傳內容保存' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'GatewayAuthCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'定期定額週期類型，例如 Month 表示以月為週期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'PeriodType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'定期定額扣款頻率，例如 PeriodType=Month 且 Frequency=6，代表每 6 個月扣款一次' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'Frequency'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'定期定額預計執行扣款次數，依金流平台規則設定' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'ExecTimes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'定期定額已完成扣款次數，用來追蹤目前已成功執行幾次週期扣款' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'ExecTimesCompleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'金流回傳原始資料 JSON，用於除錯、對帳與追蹤金流狀態' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'RawResponse'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'訂單資料表，記錄使用者為品牌購買方案的訂單與金流交易資訊' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵，自動遞增' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案代碼，例如 BASIC、STANDARD、PROFESSIONAL、ENTERPRISE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'PlanCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案名稱，例如 基礎版、標準版、專業版、旗艦版' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'PlanName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案行銷標語，顯示在前端方案卡片上' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'Tagline'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案詳細描述，用來說明此方案適合的診所類型與主要功能' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案售價，單位依系統設定，例如新台幣' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案原價，用於前端顯示優惠比較' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'OriginalPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'計費週期，例如 /月、/年、/三年、待設定' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案功能文字列表，JSON 格式，主要給前端顯示方案包含哪些功能' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'Features'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案適合對象標籤，JSON 格式，例如 小型診所、連鎖動物醫院' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'SuitableTags'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否為主打方案，1=主打，0=非主打' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'IsFeatured'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'前端顯示標籤，例如 推薦、最受歡迎、最高階' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'Badge'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案是否啟用，1=啟用，0=停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'IsActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'軟刪除旗標，0=正常，1=已刪除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'Delete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最後更新時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans', @level2type=N'COLUMN',@level2name=N'UpdateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案資料表，存放 PetCare 各版本方案，例如 BASIC、STANDARD、PROFESSIONAL、ENTERPRISE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Plans'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵，自動遞增' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'對應 Plans.Id，代表此功能設定屬於哪一個方案' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'PlanId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dashboard 儀表板功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'Dashboard'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'品牌 / 公司資料管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'BrandManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'院所 / 分店基本資料管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'StoreManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'飼主管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'CustomerManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'寵物資料管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'PetManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'預約管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'AppointmentManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'門診 / 看診流程管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'VisitManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'病歷 / 醫療紀錄管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'MedicalRecordManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'批價 / 收費紀錄管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'BillingManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'人事系統功能，包含員工基本資料管理，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'StaffManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色權限管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'RolePermissionManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'員工排班管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'ShiftManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'住院管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'HospitalizationManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'住院照護紀錄管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'InpatientCareManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'採購管理功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'PurchaseManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'一般庫存管理功能，非藥品類庫存，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'GeneralInventoryManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'藥品庫存管理功能，最高階或額外加購功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'DrugInventoryManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'藥局管理功能，包含藥品發藥與藥品相關流程，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'PharmacyManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'批號與效期管理功能，用於藥品或庫存品項追蹤，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'BatchExpireManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'多分店管理功能，最高階或額外加購功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'MultiStoreManagement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'跨店庫存查詢與管理功能，通常搭配多分店與庫存功能使用，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'CrossStoreInventory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基本報表功能，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'BasicReport'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'進階報表功能，提供較完整的營運、庫存或管理分析，1=可使用，0=不可使用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures', @level2type=N'COLUMN',@level2name=N'AdvancedReport'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案功能開關資料表，用來控制每個方案可以使用哪些 PetCare 功能' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PlansFeatures'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵，自動遞增' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'品牌訂閱 ID，對應 BrandsSubscriptions.Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'BrandSubscriptionId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'訂單 ID，對應 Orders.Id，可記錄此次扣款產生或關聯的訂單' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'OrderId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'品牌 ID，對應 Brands.Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'BrandId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'方案 ID，對應 Plans.Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'PlanId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'此次定期定額扣款金額，單位為新台幣整數' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'Amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'此次扣款日期或金流回傳扣款時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'BillingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'此次扣款狀態，例如 Success=成功、Failed=失敗、Retry=重試中、Cancelled=已取消' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'金流交易編號，例如綠界扣款成功後回傳的 TradeNo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'TradeNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'金流定期定額交易識別碼，用於追蹤同一組定期扣款授權' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'RecurringTradeNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'付款方式代碼，例如 Credit=信用卡' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'PaymentType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'金流回傳訊息或系統紀錄訊息，例如扣款成功、扣款失敗原因' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'Message'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'金流回傳原始資料 JSON，用於除錯、對帳與追蹤扣款結果' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'RawResponse'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'定期定額扣款紀錄表，每一次自動扣款成功、失敗或重試都記錄一筆' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecurringBillingLogs'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staffs', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'員工姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staffs', @level2type=N'COLUMN',@level2name=N'FullName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'員工手機號碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staffs', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'員工登入信箱（唯一）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staffs', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密碼雜湊值（bcrypt / PBKDF2）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staffs', @level2type=N'COLUMN',@level2name=N'PasswordHash'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'職稱（例：院長、護士、行政）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staffs', @level2type=N'COLUMN',@level2name=N'JobTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否啟用（1=啟用，0=停用）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staffs', @level2type=N'COLUMN',@level2name=N'IsActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'軟刪除旗標（0=正常，1=已刪除）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staffs', @level2type=N'COLUMN',@level2name=N'Delete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staffs', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最後更新時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staffs', @level2type=N'COLUMN',@level2name=N'UpdateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵，員工分店關聯 ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'StaffsStores', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'員工 ID（FK → Staffs）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'StaffsStores', @level2type=N'COLUMN',@level2name=N'StaffId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分店 ID（FK → Stores）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'StaffsStores', @level2type=N'COLUMN',@level2name=N'StoreId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否為主要分店，1=主要，0=非主要' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'StaffsStores', @level2type=N'COLUMN',@level2name=N'IsPrimary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否啟用，1=啟用，0=停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'StaffsStores', @level2type=N'COLUMN',@level2name=N'IsActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'軟刪除旗標，0=正常，1=已刪除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'StaffsStores', @level2type=N'COLUMN',@level2name=N'Delete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'StaffsStores', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最後更新時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'StaffsStores', @level2type=N'COLUMN',@level2name=N'UpdateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Stores', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所屬品牌 ID（FK → Brand）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Stores', @level2type=N'COLUMN',@level2name=N'BrandId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分店名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Stores', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分店電話' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Stores', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分店地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Stores', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所在城市' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Stores', @level2type=N'COLUMN',@level2name=N'City'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否啟用（1=啟用，0=停用）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Stores', @level2type=N'COLUMN',@level2name=N'IsActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'軟刪除旗標（0=正常，1=已刪除）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Stores', @level2type=N'COLUMN',@level2name=N'Delete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'建立時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Stores', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最後更新時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Stores', @level2type=N'COLUMN',@level2name=N'UpdateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵，自動遞增' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'使用者ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog', @level2type=N'COLUMN',@level2name=N'UserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'使用者Email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登入時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog', @level2type=N'COLUMN',@level2name=N'LoginTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'使用者IP位址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog', @level2type=N'COLUMN',@level2name=N'IP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'裝置識別碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog', @level2type=N'COLUMN',@level2name=N'DeviceId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'瀏覽器資訊' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog', @level2type=N'COLUMN',@level2name=N'BrowserInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'作業系統資訊' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog', @level2type=N'COLUMN',@level2name=N'OSInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'螢幕解析度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog', @level2type=N'COLUMN',@level2name=N'ScreenResolution'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登入狀態' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'錯誤訊息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog', @level2type=N'COLUMN',@level2name=N'ErrorMessage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'安全等級' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog', @level2type=N'COLUMN',@level2name=N'SecurityLevel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'使用者登入紀錄表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UsersLog'
GO
USE [master]
GO
